ClienteWebApp/src/META-INF/wsdl/localhost_8080/WebService/SWConverTemps.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jaxws/" name="SWConverTemps">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxws/" schemaLocation="http://localhost:8080/WebService/SWConverTemps?xsd=1"/>
</xsd:schema>
</types>
<message name="ConvFahrACent">
<part name="parameters" element="tns:ConvFahrACent"/>
</message>
<message name="ConvFahrACentResponse">
<part name="parameters" element="tns:ConvFahrACentResponse"/>
</message>
<message name="ConvCentAFahr">
<part name="parameters" element="tns:ConvCentAFahr"/>
</message>
<message name="ConvCentAFahrResponse">
<part name="parameters" element="tns:ConvCentAFahrResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="SWConverTemps">
<operation name="ConvFahrACent">
<input wsam:Action="http://jaxws/SWConverTemps/ConvFahrACentRequest" message="tns:ConvFahrACent"/>
<output wsam:Action="http://jaxws/SWConverTemps/ConvFahrACentResponse" message="tns:ConvFahrACentResponse"/>
</operation>
<operation name="ConvCentAFahr">
<input wsam:Action="http://jaxws/SWConverTemps/ConvCentAFahrRequest" message="tns:ConvCentAFahr"/>
<output wsam:Action="http://jaxws/SWConverTemps/ConvCentAFahrResponse" message="tns:ConvCentAFahrResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://jaxws/SWConverTemps/helloRequest" message="tns:hello"/>
<output wsam:Action="http://jaxws/SWConverTemps/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SWConverTempsPortBinding" type="tns:SWConverTemps">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConvFahrACent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConvCentAFahr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SWConverTemps">
<port name="SWConverTempsPort" binding="tns:SWConverTempsPortBinding">
<soap:address location="http://localhost:8080/WebService/SWConverTemps"/>
</port>
</service>
</definitions>